body {
    overflow-x: hidden;
    background-image: url(star.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

p {
    color: whitesmoke;
}

header {
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

footer p {
    padding-top: 5rem;
    right: 0;
    left: 0;
    font-weight: bolder;
    color: white;
    text-align: center;
}

